*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: whitesmoke;
}
img{
  display: block;
  width: 100%;
}
button{
  font-weight: bold;
}
.layout{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
.body{
  flex: 1;
  background-color: #484849;
}
nav,footer{
  background-color: #17181d;
  position: fixed
}
nav{
  display: flex;
  padding: 1rem;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-weight: 900;
  color: #e09145;
  cursor: pointer;
}
.nav-links{
  position: absolute;
  z-index: 1;
  top: 50px;
  background-color: #292c35;
  right: 0px;
  width:0;
  text-align: center;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  transition: all 0.2s linear;
}
.menu-button{
  cursor: pointer;
}
.nav-links a, .nav-links a:visited{
  color: whitesmoke;
  text-decoration: none;
  display: block;
  margin: 1rem;
}
.nav-links a:active{
  color: #e09145;
}
.nav-links a:hover{
  color: #fcd9b8;
}
nav .active{
  width: 100%;
}
/* footer */
footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #17181d;
}
/* hero */
.hero{
  display: flex;
  flex-direction: column;
}
.hero-content{
  margin: 5.2rem 1rem;
}
.hero-content h1{
  font-size: 3rem;
}
.hero-content p{
  margin-top: 1.5rem;
  width:70%;
  line-height: 1.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.buttons{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.buttons button{
  display: block;
  font-size: inherit;
  padding: 0.5rem 0.7rem;
  color: #17181d;
  background-color: #fcd9b8;
  border: 2px solid #e09145;
  cursor: pointer;
}
.image-container{
  width: 100%;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image{
  width: 100%;
}

/* About */
.about, .services,.contact, .blogposts,.post{
  overflow: scroll;
  margin: 6rem 2rem 6rem;
  text-align: left;
}
.important p, .mission p, .values p,.values ul li{
  line-height: 1.5rem;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  margin: 2rem auto;
}
.values span{
  font-weight: bold;
}

.important h1, .mission h1, .values h1, .blogposts h1,
.services article div h1{
  font-size: 3.2rem;
  text-decoration: underline;
  text-decoration-color:#e09145 ;
  text-decoration-thickness: 5px ;
}
.services article div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:3rem;
  margin-bottom: 3rem;
}
.services article div h1{
  text-align: center;
  font-size: 2rem;
  text-underline-offset: 10px
}
.contact section h1{
  font-size: 3rem;
}


form input, form textarea{
  display: block;
  margin-top: 0.7rem;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #e09145;
  outline: none;
  padding: 0.2rem;
  font-size: 1rem;
}
form textarea{
  border: 2px solid #e09145;
  width: 100%;
  font-size: 1rem;
}
form button{
  width: fit-content;
  margin: 0 auto;
  display: block;
  font-size: inherit;
  padding: 0.5rem 0.7rem;
  color: #17181d;
  background-color: #fcd9b8;
  border: 2px solid #e09145;
  cursor: pointer;
}
form {
  margin-top: 1.5rem;
  display:flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden !important
}
.contact::-webkit-scrollbar,.about::-webkit-scrollbar,.services::-webkit-scrollbar,.blogposts::-webkit-scrollbar,.post::-webkit-scrollbar {
  display: none;
}
.blogposts h1{
  text-align: center;
}
.posts{
  margin-top: 2rem;
}
.blogcard{
  padding: 0.8rem 1.2rem;
  background-color:#292c35;
  text-align: center;
  border-radius: 1rem;
}
.cardcontent {
  display: flex;
  flex-direction: column;
  gap: 1rem 0
}
.cardcontent h2{
  font-size: 1rem;
}
.cardcontent p span{
  color: #e09145;
  cursor: pointer;
}
.cardcontent p{
  font-size: 0.8rem;
}
.post h1{
  text-align: center;
  color: #e09145;
  margin-bottom: 2rem;
}
.post p{
  margin:1rem 0
}
.post h3{
  text-decoration: underline;
  text-decoration-color:#e09145 ;
  text-decoration-thickness: 3px ;
}
.services img,.hero-image{
  max-width: 522px;
}
/*media queries */
/* SMALL */
@media screen and (min-width: 576px) {
.hero-content{
  margin-left: 2rem;
  margin-right: 2rem;
}
.hero-content .image-container{
  margin-top: 5.5rem
}
.blogcard{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
form textarea{
  max-width: 360px;
}
}
/*  MEDIUM */
@media screen and (min-width: 768px){
  .nav-links{
    width: auto;
    flex-direction: row;
    position: relative;
    top:0;
    height: auto;
    background-color: #17181d;
  }
  .nav-links a{
    margin: 0.5rem;
  }
  
  .menu-button{
    display: none;
  }
  form {
    margin-top: 4.5rem;
  }
  form button{
    margin-left: 0;
  }
  .services article div{
    margin: 3rem;
    display: flex;
  }
  .services article div:nth-child(odd){
    flex-direction: row;
  }
  .services article div:nth-child(even){
    flex-direction: row-reverse;
  }
  .post,.about,.hero-content{
    margin: 6rem 4rem;
  }
  .post p,.important p, .mission p, .values p,.values ul{
    font-size: 1.5rem;
  }
  .post h1{
    font-size: 3rem;
  }
  .post h3{
    font-size: 2rem;
  }
  .post p{
    margin:2.5rem 0
  }
}
/* || LARGE */
@media screen and (min-width: 992px) {
  
}
/* || XL  */
@media screen and (min-width: 1200px) {
  .hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .hero-content{
    display: flex;
    align-items: center;
  }
  .hero-content,.about, .services,.contact, .blogposts,.post{
    max-width: 1200px;
  }
  .about, .services,.contact, .blogposts,.post{
    margin-left: auto;
    margin-right: auto;
  }
  
 }
